#preloader {
    background: #000 url(Images/preloader.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100
    }

body{
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.heading{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding: 0px;
    font-size: 50px;
    text-align: center;
}

.sub-heading{
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdf5f7, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdf5f7, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding: 0px;
    font-size: 40px;
    text-align: center;
}

.skills{
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}

button {
	background-color: #e8a0ac;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
    margin: auto;
    display: block;
}

.heart-icon {
	color: rgb(192, 0, 0);
	margin-right: 5px;
}

#like-count {
	margin-left: 5px;
}

.list-container {
    display: flex;
    justify-content: center;
}

.list-content{
    color: #ffffff;
    text-align: left;
    list-style: none;
    text-overflow: clip;
    padding: auto;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.list-content li:before {
    content: attr(data-emoji);
    margin-right: 5px;
}

.list-content li:hover::before {
    content: "📜";
}

.articles{
    padding: auto;
    max-width: 2000px;
}

.image-link {
    position:relative;
    display:flex;
    text-decoration: none;
    color: #ffffff;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 3px;
    transition: all 2s;

    display:flex;
    align-items: center;
    padding: auto;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 18px;
    max-width: 1000px;
}

.image-link img {
    display: block;
    transition: all 2s;
    width: 45%;
    height: 45%;
    margin-left: 0px;
}

.image-link .text {
    font-size: 20px;
    padding-left: 20px;
}

.image-link .text h3{
    font-size: 25px;
}

.image-link:hover{
    transform:scale(112%,112%);
}

.image-link:hover img {
    transform:scale(101%,100%);
}

.image-link:hover .text {
    transform: translateY(4%) scale(1.02);
}

@media (max-width: 800px) {
    #preloader{
        background-size: 50%;
    }

    .list-container{
        margin-left: 5px;
        margin-right: 5px;
    }

    .image-link {
        flex-direction: column;
    }
    
    .image-link img {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
        height: 60%;
    }

    .image-link .text{
        padding:auto;
    }

    .image-link .text h3{
        font-size: 22px;
    }

    .image-link .text p{
        position: relative;
        left: 0%;
        font-size: 18px;
    }
}
/* Path: Pages/styles.css */