body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,10,122,1) 24%, rgba(7,59,154,1) 63%, rgba(46,94,139,1) 100%);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.heading{
    background: rgb(196,173,212);
    background: linear-gradient(90deg, rgba(196,173,212,1) 0%, rgba(114,61,176,0.8365721288515406) 50%, rgba(206,203,231,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding: 0px;
    font-size: 50px;
    text-align: center;
}

.sub-heading{
    color: #ffffff;
    padding: 0px;
    font-size: 40px;
    text-align: center;
}

.skills{
    color: #ffffff;
    padding: 0px;
    font-size: 25px;
    text-align: center;
}

button {
	background-color: #FFC0CB;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
    margin: auto;
    display: block;
}

.heart-icon {
	color: red;
	margin-right: 5px;
}

#like-count {
	margin-left: 5px;
}

.list-container {
    display: flex;
    justify-content: center;
  }

.list-content{
    color: #ffffff;
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-content li:before {
    content: "➢ ";
    color: #ffffff;
    margin-right: 5px;
  }

.image-link {
    position: relative;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 50px;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    transition: all 2s;
}

.image-link img {
    display: block;
    width: 50%;
    height: 50%;
    transition: all 2s;
}

.image-link .text {
    position: absolute;
    top: 10%;
    left: 53%;
    right: 1%;
}

.image-link:hover{
    transform:scale(112%,112%);
}

.image-link:hover img {
    transform:scale(101%,100%);
}

.image-link:hover .text {
    transform: translateY(5%) scale(1.05);
}

/* Path: Pages/styles.css */

